<!-- <p>welcome works!</p> -->

<div class="container">
    <h1>welcome works! {{message}}</h1>
    <h2>{{name}}</h2>
</div>
<a routerLink="/list-todos">welcome to todos page</a>

<div class="container">
    <h1>connecting front end to back end </h1>
    get the message from springboot
    <button (click)="getbootMessage()" class=".btn btn-success">GetMessage</button>
</div>

<div class="container">
    <h1>{{response}}</h1>
    
   <!-- get the message from springboot -->
    <!-- <button (click)="getbootMessage()" class=".btn btn-success">GetMessage</button> -->
</div>