<!-- <p>list-todos works!</p> -->
<h1>Todos tasks</h1>
<div class="container">
<table class="table">
    <!-- <caption>todos tasks..</caption> -->
    <thead>

        <tr>
            <!-- <th>id</th> -->
            <th>description</th>
            <th>targetDate</th>
            <th>status</th>

        </tr>


    </thead>

    <tbody>
        <tr *ngFor = "let todo of todos">
            <!-- todo is temp var name and todos is arrayv var -->
            <!-- <td>{{todo.id}}</td> -->
            <td>{{todo.desc}}</td>
            <td>{{todo.targetDate | date | uppercase}}</td>
            <td>{{todo.status}}</td>
        </tr>


    </tbody>


</table></div>